{% extends "thebalance/layout.html" %}

{% block title %}
    Budget Tracker
{% endblock %}

{% block body %}
    
    <div class="container">
        <div class="row">
            <div class="col-md-12 p-4">
                <h1>Budget Tracker</h1>

                <!-- Div for adding buttons -->
                <div class="row my-3">
                    <div class="col-md-12">
                        <a href="{% url 'add_expense' %}" class="btn btn-danger">Add Expense</a>
                    </div>
                </div>

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Item</th>
                            <th scope="col">Price</th>
                            <th scope="col">Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in shopping_list %}
                            <tr>
                                <th scope="row">{{ item.id }}</th>
                                <td>{{ item.item }}</th>
                                <td>${{ item.price }}</th>
                                <td>{{ item.date }}</th>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock%}